@model IEnumerable<DiagnosticML.ViewModels.ClassificationType>
@{ 
    ViewBag.Title = "Classification";
}
<h2>Select Classification Data Set:</h2>
<ul>
    @foreach (var classification in Model)
    {
        <li>@Html.ActionLink(classification.className,
     "Classify", new { className = classification.className, classID = classification.classID })</li>
    }
</ul>
