@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>


<address>
    Michael Foster<br />
    Grand Rapids, MI <br />
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:MF0414@gmail.com">MF0414@gmail.com</a><br />
</address>