@{
    ViewBag.Title = "Machine Learning for Pateient Diagnosis";
}

<div class="jumbotron">
    <h1>@Html.Raw(ViewBag.Message)</h1>
    <p class="lead">Welcome to the Machine Learning for Patient Diagnosis senior project page. Below are links to the Prospectus, Journals
            and Bitbuck Repository. The Classifier application can be found under the Classifer Tab.</p>
    <!--<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>-->
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Learn More</h2>
        <p>
            Click here to learn more about this project.
        </p>
        <p><a class="btn btn-default" href="http://diagnosticml.azurewebsites.net/">Project Prospectus &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Journals</h2>
        <p>Click here for the Project Journals.</p>
        <p><a class="btn btn-default" href="http://diagnosticml.azurewebsites.net/">Journals &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Repository</h2>
        <p>Click here to visit the Bitbucket Repository.</p>
        <p><a class="btn btn-default" href="https://bitbucket.org/mf0414/machine-learning-for-patient-diagnosis/overview">Repository &raquo;</a></p>
    </div>
</div>