@{
    ViewBag.Title = "Machine Learning for Pateient Diagnosis";
}

<div class="jumbotron">
    <h2>Machine Learning for Patient Diagnosis</h2>
    <p class="lead">Welcome to the Machine Learning for Patient Diagnosis senior project page. Below are links to the Prospectus, Journals
            and Github Repository. An overview of the classifier methodology and accuracy is located in the About section.
            The Classifier application can be accessed via the Classifer Tab.</p>
    <!--<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>-->
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Learn More</h2>
        <p>
            Click here to learn about this project in detail.
        </p>
        <p><a class="btn btn-default" href="https://github.com/MF0414/DiagnosticML/wiki/Project-Prospectus">Project Prospectus &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Project Wiki</h2>
        <p>Click here for the Project Journals, Sprint Reports, Burndowns, and More.</p>
        <p><a class="btn btn-default" href="https://github.com/MF0414/DiagnosticML/wiki">Project Wiki &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Repository</h2>
        <p>Click here to visit the Github Repository.</p>
        <p><a class="btn btn-default" href="https://github.com/MF0414/DiagnosticML">Repository &raquo;</a></p>
    </div>
</div>